{% extends './components/base.html' %}

{% block head %}
<style>
  @media (min-width: 992px) {
  #cineTrackAccordion {
    width: 75%;
  }
}
</style>
<link rel="icon" type="image/png" href="{{ url_for('static', filename='styles/img/logo.png') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/gradient.css')}}">
<title>Reeliz</title>

{% endblock %}

{% block body %}

<!-- first -->
<header class="hero-header">
  <div class="container py-5">
    <div class="row flex-md-row-reverse align-items-center">
      <img class="img-fluid col hero-logo fade-section" 
           src="{{ url_for('static', filename='styles/img/herologo.svg') }}" 
           alt="">
      <div class="col text-center text-md-start fade-section" style="color: fff;">
        <h1 class="display-6 fw-bold">Book & Track Movie Tickets Easily with ReeLiz</h1>
        <p>Book tickets instantly and track seats in real-time — ReeLiz makes movie experience hassle-free.</p>
        <button class="col btn btn-light p-3 rounded-5" data-page="now">
          View Full Site <i class="fa-solid fa-arrow-right-to-bracket ps-2"></i>
        </button>
      </div>
    </div>
  </div>
</header>


<!-- second -->
<section class="container py-4 features fade-section">
  <h1 class="display-6 fw-bold text-center mb-4">Features</h1>
  <div class="row justify-content-center g-4">
    <!-- feature1 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card  text-center h-100">
        <img src="../static/styles/img/img-reeliz-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">What is ReeLiz?</h4>
          <p class="card-text">
            It was built to simplify how people watch movies in theaters. Users can browse now-showing films and book
            tickets instantly.
          </p>
        </div>
      </div>
    </div>

    <!-- feature2 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card text-center h-100">
        <img src="../static/styles/img/img-reeliz-2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Innovation of ReeLiz</h4>
          <p class="card-text">
               focuses in simplifying how people watch movies in theaters. Users can browse now-showing films and book tickets instantly.
        </div>
      </div>
    </div>

    <!-- feature3 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card  text-center h-100">
        <img src="../static/styles/img/img-reeliz-3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Exclusivity of ReeLiz</h4>
          <p class="card-text">
            Enjoy exclusive screenings you won’t find elsewhere. From early releases to indie titles, Reeliz offers unique film experiences curated for true movie lovers.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- third -->
{% include "components/faq-accordion.html" %}

<script src="{{ url_for('static', filename='js/components/landing.js') }}"></script>

{% endblock %}