{% extends 'base.html' %}

{% block head %}
<title>About Us - Reeliz 🎬</title>
<link rel="stylesheet" href="{{ url_for( 'static', filename='styles/about.css')}}">

{% endblock %}


{% block body %}
<!-- NAVBAR -->
<nav class="navbar">
  <div class="nav-left">ReeLiz</div>

  <div class="nav-center">
    <a href="#">Home</a>
    <a href="#" id="btn-now">Now Showing</a>
    <a href="#" id="btn-coming">Coming Soon</a>
    <a href="#">Genres</a>
  </div>

  <div class="nav-right">
  <div class="search-bar">
    <input type="text" placeholder="Search movies...">
    <button type="submit">🔍</button>
  </div>

    <div class="hamburger">&#9776;</div>
    <div class="dropdown">
      <a href="{{ url_for('about') }}">About Us</a>
      <a href="{{ url_for('contact') }}">Contact Us</a>
    </div>
  </div>
</nav>
<h1>About Reeliz 🎬</h1>

<header>
  <p>At Reeliz, we bring the magic of movies closer to you. Our platform is designed to give every movie lover a
    seamless and exciting cinema experience. Here’s what we offer:</p>

  <div>
    <h3>Movie Listings & Showtimes</h3>
    <p>Stay updated with the latest movie releases, schedules, and cinema locations. No more missing out on your
      favorite films.
    </p>
  </div>
  <div>
    <h3>Online Booking & Ticketing</h3>
    <p>Book your tickets anytime, anywhere. Skip the long lines and secure your seats with just a few clicks.
    </p>
  </div>
  <div>
    <h3>Community Engagement </h3>
    <p>Join a growing community of film enthusiasts where you can interact, discuss, and share your love for cinema.
    </p>
  </div>
</header>
<a href="{{ url_for('home') }}">Back to Home</a>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}