{% extends 'base.html' %}

{% block head %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='styles/img/logo.png') }}">

<title>Contact Us - Reeliz</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/contact.css') }}">

<!-- Google Material Symbols -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
{% endblock %}

{% block body %}
<h1 class="head1 text-center">Contact Us 📩</h1>

<div class="container">
  <!-- Left side: contact info as a row -->
  <div class="row justify-content-center text-center">
    <div class="col-lg-8">
      <div class="d-flex flex-column flex-md-row justify-content-center gap-3 gap-lg-5 py-4">

        <div class="contact-subitem ">
          <span
            class="material-symbols-outlined d-flex justify-content-center align-items-center rounded-circle bg-black text-white "
            style="width:60px; height:60px; font-size:32px;">
            support_agent
          </span>
          <div class="text-start ">
            <p class="mb-1">Support Team</p>
            <a href="mailto:support@reeliz.com" class="text-decoration-none text-warning-emphasis">
              support@reeliz.com
            </a>
          </div>
        </div>

        <div class="contact-subitem ">
          <span
            class="material-symbols-outlined d-flex justify-content-center align-items-center rounded-circle bg-black text-white "
            style="width:60px; height:60px; font-size:32px;">
            bug_report
          </span>
          <div class="text-start ">
            <p class="mb-1">Bug Report</p>
            <a href="mailto:bugreport@reeliz.com" class="text-decoration-none text-warning-emphasis">
              bugreport@reeliz.com
            </a>
          </div>
        </div>

        <div class="contact-subitem ">
          <span
            class="material-symbols-outlined d-flex justify-content-center align-items-center rounded-circle bg-black text-white "
            style="width:60px; height:60px; font-size:32px;">
            contact_support
          </span>
          <div class="text-start ">
            <p class="mb-1">Other Concerns</p>
            <a href="mailto:info@reeliz.com" class="text-decoration-none text-warning-emphasis">
              info@reeliz.com
            </a>
          </div>
        </div>



      </div>
    </div>
  </div>



  <!-- Right side: message form -->
  <div class="contact-form">
    <form>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Type e-mail here..." required>

      <label for="message">Message</label>
      <textarea id="message" name="message" rows="5" placeholder="Type your message here..." required></textarea>

      <button type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}