{% extends 'base.html' %}

{% block head %}
<title>About Us - Reeliz 🎬</title>
<link rel="stylesheet" href="{{ url_for( 'static', filename='styles/detail.css')}}">

{% endblock %}


{% block body %}
<div class="movie-detail">
    <div class="poster">
      <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
    </div>

    <div class="info">
      <h1>{{ movie.title }}</h1>
      <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
      <p><strong>Runtime:</strong> {{ movie.runtime }} mins</p>
      <p><strong>Genres:</strong>
        {% for genre in movie.genres %}
          {{ genre.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
      </p>
      <p>{{ movie.overview }}</p>
    </div>
</div>

{% endblock %}