<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reeliz 🎬</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
  <h1>🎬 Reeliz</h1>

  <!-- Buttons -->
  <div class="button-group">
    <button id="btn-now">Now Showing</button>
    <button id="btn-coming">Coming Soon</button>
  </div>

  <!-- Movie container -->
  <section>
    <div id="movies"></div>
  </section>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
