{% extends 'base.html' %}

{% block head %}
<title>Reeliz 🎬</title>
<link rel="stylesheet" href="{{ url_for( 'static', filename='styles/style.css')}}">

{% endblock %}


{% block body %}
<nav>
  <a href="{{ url_for('about') }}">About Us</a>
  <a href="{{ url_for('contact') }}">Contact Us</a>
</nav>

<h1>🎬 Reeliz</h1>

<!-- Buttons -->
<div class="button-group">
  <button id="btn-now">Now Showing</button>
  <button id="btn-coming">Coming Soon</button>
</div>

<!-- Movie container -->
<section>
  <div id="movies"></div>
</section>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}