@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/* HEADERS */
h1,
h3 {
  font-family: "Oswald", serif;
}

/* ICON STYLE */
.feature-item {
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.feature-item:hover {
  transform: translateY(-5px);
}

.main-header,
.feature-title,
.feature-desc,
.feature-icon,
.intro {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

/* ANIMATION DELAYS */
.main-header,
.intro {
  animation-delay: 0.3s;
}

.about-section {
  background: url("img/aboutbg.jpg") center center / cover no-repeat;
}

.about-overlay {
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.about-overlay.fade-out {
  opacity: 0;
  transform: translateY(-30px);
}

.features-container {
  opacity: 0;
  transition: opacity 0.8s ease-out;
}

.features-container.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* FADE IN ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}