@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.contact-item, h1 {
  animation: fadeInUp 0.6s ease-out forwards; 
}

.contact-subitem{
  display: grid;
  grid-template-columns: auto 160px; 
  gap: 1rem; 
  justify-content: center;
}

.contact-item:nth-child(1) {
  animation-delay: 0.2s;
}
.contact-item:nth-child(2) {
  animation-delay: 0.4s;
}
.contact-item:nth-child(3) {
  animation-delay: 0.6s;
}

.contact-form form {
  max-width: 750px;
  opacity: 0;
  animation: fadeInUp 0.6s ease-out forwards;
  animation-delay: 0.8s;
}

.contact-form button {
  transition: 0.3s ease;
}

.contact-form button:hover {
  opacity: .9;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}