.thumbnail{
  max-width: 200px;
}

.movie-detail .col-md{
  /* border: 1px solid red; */
}

@media (min-width: 768px) {
  .thumbnail {
    max-width: 300px;
  }
}

/* Transition Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
}

.fadeInUp {
  animation-delay: 0.4s;
}

/* DATE DIV */
.date-strip {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.date-pill {
  width: 75px;
  height: 90px;
  border-radius: 10px;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.date-pill:hover {
  background: #f9ffdf;
  transform: translateY(-5px);
}

.date-pill.selected {
  background: #ffeb3b;
  color: black;
  font-weight: bold;
}

.date-month {
  font-size: 12px;
  text-transform: uppercase;
}

.date-day {
  font-size: 14px;
}

.date-num {
  font-size: 20px;
  font-weight: bold;
}

.time-select {
  margin-top: 10px;
  font-size: 16px;
}

.time-select select {
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn-primary:hover {
  background-color: #248d3c !important; 
  border-color: #248d3c !important;
}

/* Cancel button hover */
.btn-outline-secondary:hover {
  background-color: #bb3c49 !important; 
  color: #fff !important;  
  border-color: #b92f3d !important;
}
