body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #12052b 0%, #02011a 50%, #0e011a 100%);
  margin: 0;
  /* padding: 20px; */
  text-align: center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  color: #333;
}

#movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 1.5rem;
  margin-top: 20px;
  padding: 15px;
}

.movie-card {
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.1);
  z-index: 5;
}

.movie-img-wrapper {
  position: relative;
}

.movie-img-wrapper img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.movie-img-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.877), transparent);
  transition: all 0.2s ease;
  z-index: 1;
}

.movie-card:hover .movie-img-wrapper::after {
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
}

.movie-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  z-index: 2;
  transition: all 0.3s ease;
}

.movie-genre {
  font-size: 12px;
  margin-bottom: 4px;
}

.movie-title {
  font-size: 16px;
  font-weight: bold;
  margin: 2px 0;
  background: rgba(0, 0, 0, 0.192); /* softer dark overlay */
  color: #fff;
  padding: 4px 10px;
  border-radius: 12px; /* more rounded corners */
  display: inline-block;
  backdrop-filter: blur(4px);
}

.movie-date {
  font-size: 12px;
  opacity: 0.9;
}

.show-btn {
  background: #f5f5f5;
  color: #000000;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-right: 8px;
  transition: 0.3s ease;
}

.show-btn:hover {
  background: #705601be;
  color: #ffffff;
}

.bottom-row {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 4px;
}

.button-group {
  margin: 1rem 0;
}

.button-group button {
  background: #303030;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
}

.button-group button:hover {
  background: #555;
}

.movie-genre,
.movie-title,
.bottom-row {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.movie-card:hover .movie-genre,
.movie-card:hover .movie-title,
.movie-card:hover .bottom-row {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 768px) {
  #movies {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
