
<link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css')}}">
<nav class="navbar navbar-expand-md bg-dark " data-bs-theme="dark">
  <div class="container-fluid mx-3">
    <a class="navbar-brand " href="{{ url_for('landing') }}">ReeLiz</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-md-0 text-start   ">
        <li class="nav-item me-1 me-lg-4">
          <a class="nav-link " href="#" data-page="now">Now Showing</a>
        </li>
        <li class="nav-item me-1 me-lg-4">
          <a class="nav-link" href="#" data-page="coming">Coming Soon</a>
        </li>

        <li class="nav-item me-1 me-lg-4 dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Genres
          </a>
          <ul class="dropdown-menu w-100" id="genres-dropdown">

          </ul>
        </li>
        <li class="nav-item me-1 me-lg-4">
          <a class="nav-link" href="{{ url_for('login') }}">
            <i class="fa-solid fa-user"></i> Log-In
          </a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" id="search-input" type="search" placeholder="Search movies...">
      </form>
    </div>
  </div>
</nav>

<script src="{{ url_for('static', filename='js/utils/searchFilter.js') }}"></script>